# Created by vena; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pyc
db.sqlite3
*.pot
*.py~

# VSCode
.vscode/

# Virtual Environment
venv/
env/

# OS
.DS_Store
Thumbs.db

# Env Files
.env
